<app-top-nav></app-top-nav>

<body>
  <div class="col-8" id="form">
    <form #loginForm="ngForm">
      <div class="form-input mb-2">
        <label for="inputEmail">Email address</label>
        <input [(ngModel)]="userLogin.email" #email='ngModel' name="email" type="email" id="inputEmail"
          class="form-control" placeholder="Email address" required disabled="true"
          [pattern]="'^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'">
      </div>

      <div class="form-input mb-2">
        <label for="inputPassword">First Name</label>
        <input #firstName [(ngModel)]="userLogin.firstName" name="firstName" class="form-control">
      </div>

      <div class="form-input mb-2">
        <label for="inputPassword">First Name</label>
        <input #lastName [(ngModel)]="userLogin.lastName" name="lastName" class="form-control">
      </div>

      <button class="btn btn-sm btn-primary btn-block" (click)="changeName(firstName.value,lastName.value)" type="submit">Change</button>
    </form>
  </div>
</body>
