<app-top-nav></app-top-nav>

<ag-grid-angular style="width: 500x; height: 500px;" class="ag-theme-balham" [rowData]="rowData" rowSelection="multiple"
  suppressMenuHide="true" animateRows=true enableSorting=true enableFilter=true enableStatusBar=true
  enableRangeSelection=true rowDragManaged=true headerHeight="50" rowHeight="40" rowGroupPanelShow="always"
  [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
</ag-grid-angular>
<div class="form-row">
  <p-button class="ui-button-rounded ui-button-success" label="Update" type="submit" (click)="updateValues()" ></p-button>
  <input class="form-control col-md-2" #newVoltage  (keyup.enter)="insertNewEKG(newVoltage.value)" type="number" name="newVoltage" placeholder="new voltage">
</div>
<p-chart type="line" [data]="data" [options]="options"></p-chart>
